.background_image {
    background-image: url(https://img.collegepravesh.com/2022/09/IIIT-Ranchi.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

